addict==2.2.0
alabaster==0.7.12
Babel==2.7.0
bagit==1.7.0
boltons==19.1.0
boto==2.48.0
boto3==1.9.235
botocore==1.12.235
CacheControl==0.11.7
certifi==2019.9.11
chardet==3.0.4
cwlref-runner==1.0
cwltest==1.0.20190906212748
cwltool==1.0.20190228155703
decorator==4.4.0
dill==0.2.7.1
docker==2.5.1
docker-pycreds==0.4.0
docutils==0.15.2
future==0.17.1
futures==3.1.1
galaxy-lib==18.9.2
gitdb2==2.0.5
GitPython==3.0.2
idna==2.8
imagesize==1.1.0
isodate==0.6.0
Jinja2==2.10.1
jmespath==0.9.4
junit-xml==1.8
lockfile==0.12.2
lxml==4.4.1
MarkupSafe==1.1.1
mistune==0.8.4
mypy-extensions==0.4.1
networkx==2.3
packaging==19.2
pathlib2==2.3.2
prov==1.5.1
psutil==3.0.1
pycryptodome==3.5.1
Pygments==2.4.2
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
rdflib==4.2.2
rdflib-jsonld==0.4.0
requests==2.22.0
ruamel.yaml==0.15.77
s3transfer==0.2.1
scandir==1.10.0
schema-salad==4.5.20190906201758
shellescape==3.4.1
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.9.1
Sphinx==1.7.5
sphinxcontrib-websupport==1.1.2
subprocess32==3.5.2
toil==3.20.0
typing-extensions==3.7.4
urllib3==1.25.6
websocket-client==0.56.0
